<div class="container" style="background-attachment: fixed; background-repeat: no-repeat">
    <img src="assets/images/music.jpg" height="1000px" width=" 1520px">
    <div class="content">
            <h1 style="text-align: center"><u> About Us </u></h1>
            <p style="font-size: 17px"> Muzify is a revolutionary online music streaming app that change 
                    the way people listen . It is one of the finest apps for music lovers 
                    that holds an array of songs and albums as per your moods and blues.
                     So, whatever is your taste - 
                    Old or new, we have everything to match your mood. You can even create 
                    your own customized playlist that fits your mood and activity. 
                    Now find your favorite song, listen to your favorite album or playlist, 
                    share your customized song with your friends or listen to the latest 
                    hits, classics and regional music from any artist, genre or mood. 
                    Muzify has the perfect music to soothe your soul. 
                    </p>
                 
    </div>